/* table of content - start
==================================================================================================== */
/*

Project Name 	:  Makro - HTML Template (Landing Page)
File 			:  CSS Base
Version 		:  1.0.0
Last change 	:  22 April 2020
Author 			:  DroitThemes - by DroitLab
Developer:		:  Rakibul Islam Dewan

*/
/* table of content - end
==================================================================================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;display=swap");
/* 01 - fonts - start
==================================================================================================== */
@font-face {
  font-family: 'Sofia Pro Extra Light';
  src: url("../fonts/sofia_pro/SofiaProExtraLight.woff2") format("woff2"), url("../fonts/sofia_pro/SofiaProExtraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro Light';
  src: url("../fonts/sofia_pro/SofiaProLight.woff2") format("woff2"), url("../fonts/sofia_pro/SofiaProLight.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro Medium';
  src: url("../fonts/sofia_pro/SofiaProMedium.woff2") format("woff2"), url("../fonts/sofia_pro/SofiaProMedium.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro SemiBold';
  src: url("../fonts/sofia_pro/SofiaProSemiBold.woff2") format("woff2"), url("../fonts/sofia_pro/SofiaProSemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Sofia Pro Bold';
  src: url("../fonts/sofia_pro/SofiaProBold.woff2") format("woff2"), url("../fonts/sofia_pro/SofiaProBold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: "Sofia Pro";
  src: url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.eot");
  /* IE9*/
  src: url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.eot?#iefix") format("embedded-opentype"), url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.woff2") format("woff2"), url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.woff") format("woff"), url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.ttf") format("truetype"), url("http://db.onlinewebfonts.com/t/9e00143409affcb46a1ae58634aa64be.svg#Sofia Pro") format("svg");
  /* iOS 4.1- */ }

/* 01 - fonts - end
==================================================================================================== */
/* 02 - global area - start
==================================================================================================== */
body {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.867;
  font-style: normal;
  color: #6a7c92;
  font-family: "Sofia Pro";
  background-color: #ffffff;
  text-rendering: optimizelegibility;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased; }

::-moz-selection {
  color: #ffffff;
  background-color: #4154f1; }

::selection {
  color: #ffffff;
  background-color: #4154f1; }

::-moz-selection {
  color: #ffffff;
  background-color: #4154f1; }

.body_wrap {
  overflow: hidden;
  position: relative; }

.container {
  max-width: 1140px; }
  .container.w_1550 {
    max-width: 1550px; }

a,
button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  font-family: "Sofia Pro"; }
  a:hover,
  button:hover {
    text-decoration: none; }

button {
  margin: 0px;
  padding: 0px;
  border: none;
  background: none; }
  button:focus {
    outline: none; }

img {
  height: auto;
  max-width: 100%; }

[data-background] {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
  line-height: 1.1;
  color: #051441;
  font-family: "Sofia Pro Bold", sans-serif; }

.text-white h1, .text-white h2, .text-white h3, .text-white h4, .text-white h5, .text-white h6 {
  color: #ffffff; }

strong, span, small, label, i {
  font-family: "Sofia Pro"; }

/* owl settings - start
================================================== */
.owl-theme .owl-dots .owl-dot span {
  width: 7px;
  height: 7px;
  margin: 0px 6px;
  background: #c7d0fb;
  -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

.owl-theme .owl-dots .owl-dot:hover span {
  background: #4154f1; }

.owl-theme .owl-dots .owl-dot.active span {
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
  background: #4154f1; }

.owl-theme .owl-nav .owl-next,
.owl-theme .owl-nav .owl-prev {
  margin: 0px;
  width: 50px;
  height: 50px;
  border: none;
  background: none;
  overflow: hidden;
  border-radius: 0%;
  position: relative; }
  .owl-theme .owl-nav .owl-next > span,
  .owl-theme .owl-nav .owl-prev > span {
    display: none; }
  .owl-theme .owl-nav .owl-next:before,
  .owl-theme .owl-nav .owl-prev:before {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1;
    color: #858DA3;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    position: absolute;
    border-radius: 100%;
    border: 1px solid #858DA3;
    -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    font-family: 'Font Awesome 5 Pro'; }
  .owl-theme .owl-nav .owl-next:hover,
  .owl-theme .owl-nav .owl-prev:hover {
    background: none; }
    .owl-theme .owl-nav .owl-next:hover:before,
    .owl-theme .owl-nav .owl-prev:hover:before {
      color: #ffffff;
      background: #4154f1;
      border-color: #4154f1; }

.owl-theme .owl-nav .owl-prev {
  margin-right: 10px; }
  .owl-theme .owl-nav .owl-prev:before {
    content: '\f060'; }

.owl-theme .owl-nav .owl-next:before {
  content: '\f061'; }

.owl-theme.arrow_right_left .owl-nav {
  margin-top: 0px; }
  .owl-theme.arrow_right_left .owl-nav .owl-next,
  .owl-theme.arrow_right_left .owl-nav .owl-prev {
    top: 50%;
    position: absolute;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%); }
  .owl-theme.arrow_right_left .owl-nav .owl-prev {
    left: -100px; }
    .owl-theme.arrow_right_left .owl-nav .owl-prev:before {
      content: '\f060'; }
  .owl-theme.arrow_right_left .owl-nav .owl-next {
    right: -100px; }
    .owl-theme.arrow_right_left .owl-nav .owl-next:before {
      content: '\f061'; }

.owl-theme.arrow_top_right .owl-nav {
  top: -110px;
  right: 15px;
  position: absolute; }

/* owl settings - end
================================================== */
/* list style settings - start 
================================================== */
.ul_li > ul {
  margin: 0px;
  padding: 0px;
  display: table; }
  .ul_li > ul > li {
    float: left;
    list-style: none;
    display: inline-block; }

.ul_li_block > ul {
  width: 100%;
  margin: 0px;
  padding: 0px;
  display: table; }
  .ul_li_block > ul > li {
    width: 100%;
    display: table;
    list-style: none; }

.ul_li_right > ul {
  margin: 0px;
  padding: 0px;
  float: right;
  display: table; }
  .ul_li_right > ul > li {
    float: left;
    list-style: none;
    display: inline-block; }

.ul_li_center > ul {
  padding: 0px;
  margin: 0 auto;
  display: table; }
  .ul_li_center > ul > li {
    float: left;
    list-style: none;
    display: inline-block; }

/* list style settings - end
================================================== */
/* padding - margin setting - start 
================================================== */
.sec_ptb_120 {
  padding: 120px 0px; }

.prl_30 {
  padding-left: 30px;
  padding-right: 30px; }

.mt__30 {
  margin-top: -30px; }

.mb_15 {
  margin-bottom: 15px; }

.mb_30 {
  margin-bottom: 30px; }

.mb_80 {
  margin-bottom: 80px; }

/* padding - margin setting - end
================================================== */
/* button style - start
================================================== */
.btn {
  z-index: 2;
  height: 55px;
  color: #ffffff;
  font-size: 18px;
  min-width: 180px;
  overflow: hidden;
  line-height: 52px;
  padding: 0px 30px;
  text-align: center;
  position: relative;
  border-radius: 45px;
  -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  font-family: 'Sofia Pro SemiBold'; }
  .btn:before {
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: auto;
    width: 0px;
    z-index: -1;
    content: "";
    position: absolute;
    -webkit-transition: width 0.3s linear;
    -o-transition: width 0.3s linear;
    transition: width 0.3s linear;
    background-color: #4154f1; }
  .btn:hover {
    color: #ffffff; }
    .btn:hover:before {
      left: 0px;
      width: 100%;
      right: auto; }
  .btn.bg_white {
    color: #4154f1; }
    .btn.bg_white:hover {
      color: #ffffff;
      border-color: #4154f1; }
  .btn.bg_default_blue:before {
    background-color: #051441; }
  .btn.bg_default_blue:hover {
    color: #ffffff;
    border-color: #051441; }

.btn.btn_border {
  color: #4154f1;
  border: 1px solid #4154f1; }
  .btn.btn_border:hover {
    color: #ffffff; }

.btn.border_white {
  color: #ffffff;
  border: 1px solid #ffffff; }
  .btn.border_white:before {
    background-color: #ffffff; }
  .btn.border_white:hover {
    color: #4154f1; }

/* button style - end
================================================== */
/* title text - start
================================================== */
.section_title .title_text {
  font-size: 48px;
  letter-spacing: -0.9px;
  color: #051441; }
  .section_title .title_text strong {
    font-family: "Sofia Pro Bold", sans-serif; }

.section_title p {
  font-size: 20px; }

.section_title.text-white .title_text {
  color: #ffffff; }

.text-white .section_title .title_text {
  color: #ffffff; }

/* title text - end
================================================== */
/* back to top - start
================================================== */
#thetop {
  top: 0;
  left: 0;
  right: 0;
  z-index: -1;
  position: absolute; }

#backtotop {
  right: 15px;
  width: 40px;
  height: 40px;
  z-index: 999;
  bottom: 70px;
  display: none;
  position: fixed;
  border-radius: 100%;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 10px 33.25px 1.75px rgba(0, 27, 103, 0.35);
  box-shadow: 0px 10px 33.25px 1.75px rgba(0, 27, 103, 0.35); }

#backtotop #scroll {
  z-index: 1;
  width: 100%;
  height: 100%;
  display: block;
  font-size: 16px;
  overflow: hidden;
  line-height: 42px;
  text-align: center;
  position: relative;
  color: #4154f1; }
  #backtotop #scroll i {
    left: 50%;
    position: absolute;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
    #backtotop #scroll i:nth-child(1) {
      top: 53%;
      -webkit-transform: translate(-50%, -53%);
      -ms-transform: translate(-50%, -53%);
      transform: translate(-50%, -53%); }
    #backtotop #scroll i:nth-child(2) {
      top: 100%;
      opacity: 0; }
  #backtotop #scroll:hover i:nth-child(1) {
    top: -100%;
    opacity: 0;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%); }
  #backtotop #scroll:hover i:nth-child(2) {
    top: 53%;
    opacity: 1;
    -webkit-transform: translate(-50%, -53%);
    -ms-transform: translate(-50%, -53%);
    transform: translate(-50%, -53%); }

/* back to top - end
================================================== */
/* preloader - start
================================================== */
.ctn-preloader {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 9000;
  cursor: default;
  position: fixed;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.ctn-preloader .animation-preloader {
  z-index: 10000; }

.ctn-preloader .animation-preloader .spinner {
  width: 9em;
  height: 9em;
  border-radius: 100%;
  margin: 0 auto 3.5em auto;
  -webkit-animation: spinner 1s infinite linear;
  animation: spinner 1s infinite linear;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-top-color: #ffffff; }

.ctn-preloader .animation-preloader .txt-loading {
  font-size: 5em;
  font-weight: bold;
  text-align: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.ctn-preloader .animation-preloader .txt-loading .letters-loading {
  position: relative;
  color: rgba(255, 255, 255, 0.4); }

.ctn-preloader .animation-preloader .txt-loading .letters-loading:before {
  left: 0px;
  top: -20px;
  opacity: 0;
  color: #ffffff;
  position: absolute;
  -webkit-transform: rotateY(-90deg);
  transform: rotateY(-90deg);
  content: attr(data-text-preloader);
  -webkit-animation: letters-loading 4s infinite;
  animation: letters-loading 4s infinite; }

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(2):before {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s; }

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(3):before {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s; }

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(4):before {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s; }

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(5):before {
  -webkit-animation-delay: 0.8s;
  animation-delay: 0.8s; }

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(6):before {
  -webkit-animation-delay: 1s;
  animation-delay: 1s; }

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(7):before {
  -webkit-animation-delay: 1.2s;
  animation-delay: 1.2s; }

.ctn-preloader .animation-preloader .txt-loading .letters-loading:nth-child(8):before {
  -webkit-animation-delay: 1.4s;
  animation-delay: 1.4s; }

.ctn-preloader p {
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 8px;
  text-transform: uppercase; }

.ctn-preloader .loader {
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  font-size: 0;
  position: fixed;
  pointer-events: none; }

.ctn-preloader .loader .row {
  height: 100%; }

.ctn-preloader .loader .loader-section {
  padding: 0px; }

.ctn-preloader .loader .loader-section .bg {
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #4154f1;
  -webkit-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  -o-transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1);
  transition: all 800ms cubic-bezier(0.77, 0, 0.175, 1); }

.ctn-preloader .loader.dark_bg .loader-section .bg {
  background: #111339; }

.ctn-preloader.loaded .animation-preloader {
  opacity: 0;
  -webkit-transition: 0.3s ease-out;
  -o-transition: 0.3s ease-out;
  transition: 0.3s ease-out; }

.ctn-preloader.loaded .loader-section .bg {
  width: 0;
  -webkit-transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
  -o-transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1);
  transition: 0.7s 0.3s allcubic-bezier(0.1, 0.1, 0.1, 1); }

@-webkit-keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@keyframes spinner {
  to {
    -webkit-transform: rotateZ(360deg);
    transform: rotateZ(360deg); } }

@-webkit-keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@keyframes letters-loading {
  0%,
  75%,
  100% {
    opacity: 0;
    -webkit-transform: rotateY(-90deg);
    transform: rotateY(-90deg); }
  25%,
  50% {
    opacity: 1;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg); } }

@media screen and (max-width: 767px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 8em;
    width: 8em; }
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 3.5em "Poppins", sans-serif; } }

@media screen and (max-width: 500px) {
  .ctn-preloader .animation-preloader .spinner {
    height: 7em;
    width: 7em; }
  .ctn-preloader .animation-preloader .txt-loading {
    font: bold 2em "Poppins", sans-serif; } }

/* preloader - end
================================================== */
/* custom colors - start
================================================== */
.bg_white {
  background-color: #ffffff; }

.bg_default_blue {
  background-color: #4154f1; }

.bg_default_color {
  background-color: #6a7c92; }

.bg_default_black {
  background-color: #303030; }

.bg_default_darkblue {
  background-color: #051441; }

/* custom colors - end
================================================== */
/* section decoration - start
================================================== */
.deco_wrap {
  z-index: 1;
  position: relative; }
  .deco_wrap .deco_image {
    z-index: -1;
    position: absolute;
    display: inline-block; }
    .deco_wrap .deco_image svg {
      width: 100%;
      height: auto; }
      .deco_wrap .deco_image svg img {
        width: 100%; }

/* section decoration - end
================================================== */
/* animation css - start
================================================== */
@-webkit-keyframes zoominout {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }
@keyframes zoominout {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1); }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2); }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

/* animation css - end
================================================== */
/* transition - start
================================================== */
a,
button {
  -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }

/* transition - end
================================================== */
/* 03 - header section - start
==================================================================================================== */
/* mobile menu - start
================================================== */
.sidebar-menu-wrapper {
  display: block; }
  .sidebar-menu-wrapper .mobile_menu {
    top: 0px;
    width: 400px;
    height: 100vh;
    right: -420px;
    z-index: 9999;
    position: fixed;
    font-size: 14px;
    padding: 50px 40px;
    overflow-y: scroll;
    background-color: #ffffff;
    -webkit-transition: 0.6s cubic-bezier(1, 0, 0, 1);
    -o-transition: 0.6s cubic-bezier(1, 0, 0, 1);
    transition: 0.6s cubic-bezier(1, 0, 0, 1); }
    .sidebar-menu-wrapper .mobile_menu.active {
      right: 0px;
      -webkit-box-shadow: 0px 10px 55px 1px rgba(137, 173, 255, 0.35);
      box-shadow: 0px 10px 55px 1px rgba(137, 173, 255, 0.35); }
    .sidebar-menu-wrapper .mobile_menu .mCustomScrollBox {
      overflow: visible !important; }
    .sidebar-menu-wrapper .mobile_menu .menu_list > ul {
      width: auto;
      display: block;
      margin: -12px -40px; }
      .sidebar-menu-wrapper .mobile_menu .menu_list > ul li a {
        width: 100%;
        display: block;
        font-size: 16px;
        font-weight: 600;
        padding: 12px 40px;
        color: #051441;
        text-transform: capitalize; }
      .sidebar-menu-wrapper .mobile_menu .menu_list > ul li:hover, .sidebar-menu-wrapper .mobile_menu .menu_list > ul li.active {
        background-color: rgba(65, 84, 241, 0.02); }
        .sidebar-menu-wrapper .mobile_menu .menu_list > ul li:hover > a, .sidebar-menu-wrapper .mobile_menu .menu_list > ul li.active > a {
          color: #4154f1;
          background-color: rgba(65, 84, 241, 0.03); }
      .sidebar-menu-wrapper .mobile_menu .menu_list > ul li.menu_item_has_child > a {
        position: relative; }
        .sidebar-menu-wrapper .mobile_menu .menu_list > ul li.menu_item_has_child > a:after {
          top: 60%;
          right: 40px;
          line-height: 1;
          font-size: 12px;
          content: '\f107';
          font-weight: 400;
          position: absolute;
          -webkit-transform: translateY(-60%);
          -ms-transform: translateY(-60%);
          transform: translateY(-60%);
          font-family: "Font Awesome 5 Pro"; }
      .sidebar-menu-wrapper .mobile_menu .menu_list > ul li.menu_item_has_child .submenu {
        margin: 0px -40px;
        background-color: rgba(65, 84, 241, 0.02); }
        .sidebar-menu-wrapper .mobile_menu .menu_list > ul li.menu_item_has_child .submenu > li {
          width: 100%;
          display: block; }
          .sidebar-menu-wrapper .mobile_menu .menu_list > ul li.menu_item_has_child .submenu > li > a {
            font-size: 14px;
            padding: 10px 40px;
            padding-left: 60px; }
  .sidebar-menu-wrapper .overlay {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    opacity: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
    .sidebar-menu-wrapper .overlay.active {
      opacity: 1;
      display: block; }

.mobile_menu::-webkit-scrollbar {
  width: 0px; }

/* mobile menu - end
================================================== */
/* 03 - header section - end
==================================================================================================== */
/* 04 - footer section - start
==================================================================================================== */
/* 04 - footer section - end
==================================================================================================== */
/* body content - start
==================================================================================================== */
/* banner section - start
================================================== */
.banner_section {
  z-index: 1;
  min-height: 780px;
  position: relative; }
  .banner_section.bg_gradient_blue {
    background-image: -webkit-linear-gradient(45deg, #3b31ed 0%, #4773f4 52%, #52b4fb 100%);
    background-image: -o-linear-gradient(45deg, #3b31ed 0%, #4773f4 52%, #52b4fb 100%);
    background-image: linear-gradient(45deg, #3b31ed 0%, #4773f4 52%, #52b4fb 100%); }
  .banner_section .deco_wrap {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    overflow: hidden;
    position: absolute; }
  .banner_section .circle_1 {
    width: 708px;
    left: -337px;
    bottom: -307px; }
  .banner_section .circle_2 {
    left: 48%;
    top: 241px;
    width: 151px; }
  .banner_section .circle_3 {
    left: 66.5%;
    bottom: 92px;
    width: 280px; }
  .banner_section .circle_4 {
    left: 85%;
    top: 188px;
    width: 66px; }
  .banner_section .brand_logo {
    max-width: 340px;
    margin-bottom: 40px;
    display: inline-block; }
  .banner_section .title_text {
    font-size: 44px;
    line-height: 1.2;
    margin-bottom: 60px;
    font-family: 'Sofia Pro Bold'; }
  .banner_section .btns_group > ul > li {
    margin-right: 20px; }
    .banner_section .btns_group > ul > li:last-child {
      margin: 0px !important; }

/* banner section - end
================================================== */
/* demo section - start
================================================== */
.demo_section {
  z-index: 1;
  position: relative; }
  .demo_section .deco_wrap {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    position: absolute; }
  .demo_section .dot_blue {
    width: 14px; }
    .demo_section .dot_blue.dot_1 {
      top: 9%;
      left: 70px; }
    .demo_section .dot_blue.dot_4 {
      top: 35%;
      left: 55px; }
    .demo_section .dot_blue.dot_6 {
      top: 54%;
      left: 70px; }
    .demo_section .dot_blue.dot_9 {
      top: 82%;
      left: 55px; }
  .demo_section .dot_pink {
    width: 24px; }
    .demo_section .dot_pink.dot_2 {
      top: 4%;
      right: 135px; }
    .demo_section .dot_pink.dot_5 {
      top: 39%;
      right: 120px; }
    .demo_section .dot_pink.dot_7 {
      top: 49%;
      right: 135px; }
    .demo_section .dot_pink.dot_10 {
      top: 86%;
      right: 120px; }
  .demo_section .dot_brinjal {
    width: 10px; }
    .demo_section .dot_brinjal.dot_3 {
      top: 24%;
      right: 180px; }
    .demo_section .dot_brinjal.dot_8 {
      top: 70%;
      right: 180px; }
  .demo_section .triangle_green {
    width: 19px; }
    .demo_section .triangle_green.triangle_1 {
      top: 25%;
      left: 200px; }
    .demo_section .triangle_green.triangle_2 {
      top: 72%;
      left: 200px; }

.demo_grid {
  margin-top: 60px;
  position: relative;
  text-align: center; }
  .demo_grid .item_image {
    max-width: 465px;
    overflow: hidden;
    position: relative;
    margin-bottom: 20px;
    display: inline-block;
    background-color: #4154f1;
    -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -webkit-box-shadow: 0px 10px 30px 0px rgba(4, 5, 57, 0.1);
    box-shadow: 0px 10px 30px 0px rgba(4, 5, 57, 0.1); }
    .demo_grid .item_image > img {
      -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
      transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .demo_grid:hover .item_image {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px); }
    .demo_grid:hover .item_image > img {
      opacity: .3; }
  .demo_grid .item_title > a {
    font-size: 22px;
    color: #051441;
    font-family: "Sofia Pro Bold", sans-serif; }
  .demo_grid.comingsoon_item .item_image {
    background-color: transparent; }
    .demo_grid.comingsoon_item .item_image > img {
      opacity: 1;
      -webkit-filter: blur(5px);
      filter: blur(5px); }
  .demo_grid.comingsoon_item:hover .item_image {
    -webkit-transform: translateY(0px);
    -ms-transform: translateY(0px);
    transform: translateY(0px); }
    .demo_grid.comingsoon_item:hover .item_image > img {
      opacity: 1; }

/* demo section - end
================================================== */
/* element section - start
================================================== */
.element_section {
  z-index: 1;
  position: relative;
  padding-left: 20px !important;
  padding-right: 20px !important; }
  .element_section .small_bg {
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    height: 383px;
    position: absolute; }
    .element_section .small_bg.bg_gradient_blue {
      background-image: -webkit-linear-gradient(45deg, #52b4fb 0%, #4773f4 48%, #3b31ed 100%);
      background-image: -o-linear-gradient(45deg, #52b4fb 0%, #4773f4 48%, #3b31ed 100%);
      background-image: linear-gradient(45deg, #52b4fb 0%, #4773f4 48%, #3b31ed 100%); }
  .element_section .grid {
    margin: -10px; }
    .element_section .grid .grid-item,
    .element_section .grid .grid-sizer {
      width: 25%;
      float: left;
      display: inline-block; }
    .element_section .grid .grid-item {
      padding: 10px; }

.element_fullimage {
  display: block;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0px 10px 20px 0px rgba(17, 3, 102, 0.1);
  box-shadow: 0px 10px 20px 0px rgba(17, 3, 102, 0.1); }
  .element_fullimage > img {
    width: 100%;
    display: block; }

/* element section - end
================================================== */
/* layout section - start
================================================== */
.layout_section {
  z-index: 1;
  position: relative; }
  .layout_section .deco_wrap {
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: -1;
    position: absolute; }
  .layout_section .dot_blue {
    width: 14px; }
    .layout_section .dot_blue.dot_1 {
      top: 9%;
      left: 70px; }
    .layout_section .dot_blue.dot_4 {
      top: 80%;
      left: 55px; }
  .layout_section .dot_pink {
    width: 24px; }
    .layout_section .dot_pink.dot_2 {
      top: 4%;
      right: 135px; }
    .layout_section .dot_pink.dot_5 {
      top: 84%;
      right: 120px; }
  .layout_section .dot_brinjal {
    width: 10px; }
    .layout_section .dot_brinjal.dot_3 {
      top: 48%;
      right: 180px; }
  .layout_section .triangle_green {
    width: 19px; }
    .layout_section .triangle_green.triangle_1 {
      top: 50%;
      left: 200px; }

.layout_item {
  max-width: 310px;
  margin: 50px auto 0px; }

/* layout section - end
================================================== */
/* portfolio section - start
================================================== */
.portfolio_section.bg_gradient_blue {
  background-image: -webkit-linear-gradient(135deg, #3b31ed 0%, #4773f4 52%, #52b4fb 100%);
  background-image: -o-linear-gradient(135deg, #3b31ed 0%, #4773f4 52%, #52b4fb 100%);
  background-image: linear-gradient(-45deg, #3b31ed 0%, #4773f4 52%, #52b4fb 100%); }

.portfolio_carousel {
  position: relative;
  margin-bottom: -50px; }
  .portfolio_carousel .item {
    opacity: .6;
    padding: 50px 90px;
    -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .portfolio_carousel .owl-item.active.center .item {
    opacity: 1; }
  .portfolio_carousel .demo_fullimage {
    margin: 0px; }
    .portfolio_carousel .demo_fullimage:hover > img {
      opacity: 1; }
  .portfolio_carousel .owl-nav {
    margin-top: 0px; }
    .portfolio_carousel .owl-nav .owl-next,
    .portfolio_carousel .owl-nav .owl-prev {
      top: 50%;
      position: absolute;
      -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      transform: translateY(-50%); }
      .portfolio_carousel .owl-nav .owl-next:before,
      .portfolio_carousel .owl-nav .owl-prev:before {
        color: #ffffff;
        font-size: 28px;
        font-weight: 400;
        border: 1px solid transparent; }
      .portfolio_carousel .owl-nav .owl-next:hover:before,
      .portfolio_carousel .owl-nav .owl-prev:hover:before {
        color: #ffffff;
        background: transparent;
        border-color: transparent; }
    .portfolio_carousel .owl-nav .owl-prev {
      left: 23.5%; }
      .portfolio_carousel .owl-nav .owl-prev:before {
        content: '\f177'; }
    .portfolio_carousel .owl-nav .owl-next {
      right: 23.5%; }
      .portfolio_carousel .owl-nav .owl-next:before {
        content: '\f178'; }

.demo_fullimage {
  display: block;
  margin-top: 30px;
  overflow: hidden;
  position: relative;
  background-color: #4154f1;
  -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  -webkit-box-shadow: 0px 10px 30px 0px rgba(4, 5, 57, 0.1);
  box-shadow: 0px 10px 30px 0px rgba(4, 5, 57, 0.1); }
  .demo_fullimage > img {
    width: 100%;
    display: block;
    -webkit-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    -o-transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
    transition: 0.6s cubic-bezier(0.165, 0.84, 0.44, 1); }
  .demo_fullimage:hover {
    -webkit-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px); }
    .demo_fullimage:hover > img {
      opacity: .3; }

/* portfolio section - end
================================================== */
/* header element section - start
================================================== */
.header_element_section.bg_gray {
  background-color: #f9f9f9; }

.header_element_section .header_items_list {
  float: left;
  width: 745px; }
  .header_element_section .header_items_list > ul > li {
    margin-bottom: 30px;
    -webkit-box-shadow: 0px 10px 30px 0px rgba(4, 5, 57, 0.1);
    box-shadow: 0px 10px 30px 0px rgba(4, 5, 57, 0.1); }
    .header_element_section .header_items_list > ul > li:last-child {
      margin-bottom: 0px !important; }
    .header_element_section .header_items_list > ul > li > img {
      width: 100%;
      display: block; }

/* header element section - end
================================================== */
/* footer element section - start
================================================== */
.footer_element_section .rectangle_1 {
  top: -10px;
  right: -630px;
  max-width: 860px; }

.footer_element_section .footer_items_list > ul > li {
  margin-bottom: 30px;
  -webkit-box-shadow: 0px 10px 30px 0px rgba(4, 5, 57, 0.1);
  box-shadow: 0px 10px 30px 0px rgba(4, 5, 57, 0.1); }
  .footer_element_section .footer_items_list > ul > li:last-child {
    margin-bottom: 0px !important; }
  .footer_element_section .footer_items_list > ul > li > img {
    width: 100%;
    display: block; }

/* footer element section - end
================================================== */
/* footer element section - start
================================================== */
.innerpages_section {
  z-index: 1;
  position: relative; }
  .innerpages_section.bg_gray {
    background-color: #f9f9f9; }
  .innerpages_section .small_bg {
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: -1;
    position: absolute; }
    .innerpages_section .small_bg.bg_gradient_blue {
      height: 393px;
      background-image: -webkit-linear-gradient(45deg, #3b31ed 0%, #4773f4 52%, #52b4fb 100%);
      background-image: -o-linear-gradient(45deg, #3b31ed 0%, #4773f4 52%, #52b4fb 100%);
      background-image: linear-gradient(45deg, #3b31ed 0%, #4773f4 52%, #52b4fb 100%); }

/* footer element section - end
================================================== */
/* ecommerce section - start
================================================== */
.ecommerce_section.bg_gray {
  background-color: #f9f9f9; }

.ecommerce_section .ecommerce_images {
  float: right;
  width: 766px;
  position: relative;
  margin-right: 30px;
  margin-bottom: -18px; }
  .ecommerce_section .ecommerce_images .phone_image {
    z-index: 1;
    left: -40px;
    bottom: -38px;
    position: absolute; }
  .ecommerce_section .ecommerce_images .shop_card {
    top: 46px;
    z-index: 1;
    right: -126px;
    position: absolute; }

/* ecommerce section - end
================================================== */
/* features section - start
================================================== */
.features_section .rectangle_1 {
  top: 35%;
  left: -630px;
  max-width: 860px; }

.features_primary {
  margin-top: 80px;
  padding: 0px 45px; }
  .features_primary .item_icon {
    width: 70px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    margin-bottom: 35px;
    border-radius: 20px;
    display: inline-block;
    background-image: -webkit-gradient(linear, left top, right bottom, from(#3b31ed), color-stop(52%, #4773f4), to(#52b4fb));
    background-image: -webkit-linear-gradient(top left, #3b31ed 0%, #4773f4 52%, #52b4fb 100%);
    background-image: -o-linear-gradient(top left, #3b31ed 0%, #4773f4 52%, #52b4fb 100%);
    background-image: linear-gradient(to bottom right, #3b31ed 0%, #4773f4 52%, #52b4fb 100%); }
    .features_primary .item_icon svg {
      fill: #ffffff;
      display: inline-block; }
  .features_primary .item_title {
    line-height: 1;
    font-size: 20px;
    margin-bottom: 20px; }
  .features_primary p {
    font-size: 16px; }

/* features section - end
================================================== */
/* body content - end
==================================================================================================== */
/* ================================================== 
*	Project Name 	:  Makro - HTML Template (Landing Page)
*	File 			:  Responsive CSS Base
*	Version 		:  1.0.0
*	Last change 	:  22 April 2020
*	Author 			:  DroitThemes - by DroitLab
*	Developer:		:  Rakibul Islam Dewan

*	css code for responsive layout To make Responsive
================================================== */
/* ==================================================
*	01 - media screen and (max-width: 1440px)
*	02 - media screen and (max-width: 1280px)
*	03 - media screen and (max-width: 1199px)
*	04 - media screen and (max-width: 991px)
*	05 - media screen and (max-width: 767px)
*	06 - media screen and (max-width: 680px)
*	07 - media screen and (max-width: 580px)
*	08 - media screen and (max-width: 480px)
*	09 - media screen and (max-width: 380px)
*	10 - media screen and (max-width: 320px)
================================================== */
/*  ====================================================================================================
01 - media screen and (max-width: 1440px) - start
==================================================================================================== */
@media screen and (max-width: 1840px) {
  .ecommerce_section .ecommerce_images {
    width: 670px;
    margin-right: 0px; }
  .ecommerce_section .ecommerce_images .shop_card {
    top: 40px;
    right: -80px;
    max-width: 245px; }
  .ecommerce_section .ecommerce_images .phone_image {
    left: -30px;
    bottom: -33px;
    max-width: 190px; } }

@media screen and (max-width: 1630px) {
  .ecommerce_section .ecommerce_images {
    margin-right: -30px; } }

@media screen and (max-width: 1540px) {
  .header_element_section .header_items_list {
    width: 640px; } }

@media screen and (max-width: 1480px) {
  .ecommerce_section .ecommerce_images {
    width: 580px; }
  .ecommerce_section .ecommerce_images .shop_card {
    top: 40px;
    right: -50px;
    max-width: 190px; }
  .ecommerce_section .ecommerce_images .phone_image {
    left: -20px;
    bottom: -26px;
    max-width: 150px; }
  .section_title .title_text {
    font-size: 42px; } }

@media screen and (max-width: 1330px) {
  .header_element_section .header_items_list {
    width: auto;
    float: none;
    display: block; } }

/* ====================================================================================================
01 - media screen and (max-width: 1440px) - end
==================================================================================================== */
/*  ====================================================================================================
02 - media screen and (max-width: 1280px) - start
==================================================================================================== */
/* ====================================================================================================
02 - media screen and (max-width: 1280px) - end
==================================================================================================== */
/*  ====================================================================================================
03 - media screen and (max-width: 1199px) - start
==================================================================================================== */
@media screen and (max-width: 1120px) {
  .element_section .small_bg {
    height: 350px; } }

@media screen and (max-width: 1024px) {
  .banner_section .title_text {
    font-size: 42px; }
  .banner_section .circle_1 {
    width: 500px;
    left: -200px;
    bottom: -200px; }
  .banner_section .circle_3 {
    left: 75%;
    bottom: 100px;
    width: 180px; }
  .banner_section .circle_2 {
    left: 47%;
    top: 240px;
    width: 100px; }
  .banner_section .circle_4 {
    left: 90%;
    top: 160px;
    width: 50px; }
  .portfolio_carousel .item {
    padding: 40px 30px; }
  .portfolio_carousel {
    margin-bottom: -40px; }
  .portfolio_carousel .owl-nav .owl-prev {
    left: 22.5%; }
  .portfolio_carousel .owl-nav .owl-next {
    right: 22.5%; }
  .features_primary {
    padding: 0px;
    margin-top: 80px; } }

/* ====================================================================================================
03 - media screen and (max-width: 1199px) - end
==================================================================================================== */
/* ====================================================================================================
04 - media screen and (max-width: 991px) - start
==================================================================================================== */
@media screen and (max-width: 991px) {
  .banner_section .banner_content {
    margin: 0px auto;
    max-width: 800px; }
  .demo_grid .item_title > a {
    font-size: 20px; }
  .demo_grid .item_image {
    margin-bottom: 5px; }
  .section_title .title_text {
    font-size: 42px; }
  .demo_section .dot_blue {
    width: 14px; }
    .demo_section .dot_blue.dot_1 {
      left: 40px; }
    .demo_section .dot_blue.dot_4 {
      left: 15px; }
    .demo_section .dot_blue.dot_6 {
      left: 40px; }
    .demo_section .dot_blue.dot_9 {
      left: 15px; }
  .demo_section .dot_pink.dot_2 {
    right: 40px; }
  .demo_section .dot_pink.dot_5 {
    right: 15px; }
  .demo_section .dot_pink.dot_7 {
    right: 40px; }
  .demo_section .dot_pink.dot_10 {
    right: 15px; }
  .demo_section .dot_brinjal.dot_3 {
    right: 50px; }
  .demo_section .dot_brinjal.dot_8 {
    right: 50px; }
  .demo_section .triangle_green.triangle_1 {
    left: 60px; }
  .demo_section .triangle_green.triangle_2 {
    left: 60px; }
  .element_section .grid .grid-item,
  .element_section .grid .grid-sizer {
    width: 33.333%; }
  .layout_section .dot_blue.dot_1 {
    left: 40px; }
  .layout_section .dot_blue.dot_4 {
    left: 15px; }
  .layout_section .dot_pink.dot_2 {
    right: 40px; }
  .layout_section .dot_pink.dot_5 {
    right: 15px; }
  .layout_section .dot_brinjal.dot_3 {
    right: 50px; }
  .layout_section .triangle_green.triangle_1 {
    left: 60px; }
  .header_element_section .section_title {
    text-align: center;
    margin-bottom: 80px; }
  .section_title p {
    font-size: 18px; }
  .innerpages_section .small_bg.bg_gradient_blue {
    height: 330px; }
  .ecommerce_section .ecommerce_images {
    width: auto; }
  .ecommerce_section .ecommerce_images {
    float: none;
    max-width: 570px;
    margin: 0px auto 50px; }
  .ecommerce_section .section_title {
    text-align: center; } }

/* ====================================================================================================
04 - media screen and (max-width: 991px) - end
==================================================================================================== */
/* ====================================================================================================
05 - media screen and (max-width: 767px) - start
==================================================================================================== */
@media screen and (max-width: 880px) {
  .banner_section .brand_logo {
    max-width: 280px; }
  .banner_section .title_text {
    font-size: 38px; }
  .banner_section .banner_content {
    max-width: 670px; }
  .banner_section {
    min-height: 100vh; }
  .features_primary p {
    font-size: 15px; } }

@media screen and (max-width: 800px) {
  .ecommerce_section .ecommerce_images .shop_card {
    top: 50px;
    right: -30px;
    max-width: 140px; }
  .ecommerce_section .ecommerce_images .phone_image {
    left: -10px;
    bottom: -20px;
    max-width: 120px; } }

@media screen and (max-width: 767px) {
  .banner_section {
    min-height: 750px; }
  .sec_ptb_120 {
    padding: 100px 0px; }
  .element_section .grid .grid-item,
  .element_section .grid .grid-sizer {
    width: 50%; }
  .features_primary {
    max-width: 310px;
    margin: 70px auto 0px; } }

/* ====================================================================================================
05 - media screen and (max-width: 767px) - end
==================================================================================================== */
/* ====================================================================================================
06 - media screen and (max-width: 680px) - start
==================================================================================================== */
@media screen and (max-width: 680px) {
  .banner_section .brand_logo {
    max-width: 180px; }
  .banner_section .title_text {
    font-size: 28px;
    margin-bottom: 50px; }
  .banner_section .banner_content {
    max-width: 500px; }
  .btn {
    height: 50px;
    font-size: 16px;
    min-width: 160px;
    line-height: 46px;
    padding: 0px 25px; }
  .banner_section {
    min-height: 650px; }
  .banner_section .circle_1 {
    width: 400px;
    left: -180px;
    bottom: -180px; }
  .banner_section .circle_2 {
    left: 47%;
    top: 210px;
    width: 60px; }
  .banner_section .circle_3 {
    left: 75%;
    width: 110px; }
  .banner_section .circle_4 {
    left: 92%;
    width: 40px; } }

@media screen and (max-width: 600px) {
  .portfolio_carousel .item {
    padding: 30px; }
  .portfolio_carousel {
    margin-bottom: -30px; }
  .portfolio_carousel .demo_fullimage {
    margin: 0px auto;
    max-width: 370px; }
  .portfolio_carousel .owl-nav .owl-prev {
    left: 20px; }
  .portfolio_carousel .owl-nav .owl-next {
    right: 20px; } }

/* ====================================================================================================
06 - media screen and (max-width: 680px) - end
==================================================================================================== */
/* ====================================================================================================
07 - media screen and (max-width: 580px) - start
==================================================================================================== */
@media screen and (max-width: 576px) {
  .btn {
    height: 45px;
    font-size: 15px;
    min-width: 150px;
    line-height: 40px;
    padding: 0px 30px; }
  .banner_section .title_text {
    margin-bottom: 45px; }
  .banner_section .btns_group > ul > li {
    width: 100%;
    display: block;
    margin-right: 0px;
    margin-bottom: 15px; }
    .banner_section .btns_group > ul > li:last-child {
      margin-bottom: 0px !important; }
  .demo_grid {
    max-width: 350px;
    margin: 60px auto 0px; }
  .element_section .grid .grid-item,
  .element_section .grid .grid-sizer {
    width: 100%; }
  .element_fullimage {
    max-width: 370px;
    margin: 0px auto; }
  .section_title .title_text {
    font-size: 36px; }
  .demo_fullimage {
    max-width: 350px;
    margin: 30px auto 0px; } }

/* ====================================================================================================
07 - media screen and (max-width: 580px) - end
==================================================================================================== */
/* ====================================================================================================
08 - media screen and (max-width: 480px) - start
==================================================================================================== */
@media screen and (max-width: 480px) {
  .portfolio_carousel .owl-nav .owl-prev {
    left: 0px; }
  .portfolio_carousel .owl-nav .owl-next {
    right: 0px; }
  .ecommerce_section .ecommerce_images .shop_card {
    top: 60px;
    right: -5px;
    max-width: 90px; }
  .ecommerce_section .ecommerce_images .phone_image {
    left: -15px;
    bottom: -15px;
    max-width: 90px; }
  .section_title .title_text {
    font-size: 30px; }
  .section_title p {
    font-size: 16px; } }

/* ====================================================================================================
08 - media screen and (max-width: 480px) - end
==================================================================================================== */
/* ====================================================================================================
09 - media screen and (max-width: 380px) - start
==================================================================================================== */
@media screen and (max-width: 380px) {
  .ecommerce_section .ecommerce_images .shop_card {
    top: 55px;
    right: 0px;
    max-width: 65px; }
  .ecommerce_section .ecommerce_images .phone_image {
    left: 5px;
    bottom: -15px;
    max-width: 70px; } }

/* ====================================================================================================
09 - media screen and (max-width: 380px) - end
==================================================================================================== */
/* ====================================================================================================
10 - media screen and (max-width: 320px) - start
==================================================================================================== */
/* ====================================================================================================
10 - media screen and (max-width: 320px) - end
==================================================================================================== */
