@import url(https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i&display=swap);





body {
  font-family: Poppins;
}
.display-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.8rem;
}
.display-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.2rem;
}
.display-4 {
  font-family: 'Poppins', sans-serif;
  font-size: 0.8rem;
}
.display-5 {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 2.24rem;
    font-size: calc( 1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.63rem + (2.8 - 1.63) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.76rem;
    font-size: calc( 1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.42rem + (2.2 - 1.42) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.64rem;
    font-size: calc( 0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.93rem + (0.8 - 0.93) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #028905 !important;
}
.bg-success {
  background-color: #0158ef !important;
}
.bg-info {
  background-color: #000000 !important;
}
.bg-warning {
  background-color: #f8f9c4 !important;
}
.bg-danger {
  background-color: #efefef !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #028905 !important;
  border-color: #028905 !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #028905 !important;
  border-color: #028905 !important;
}
.btn-primary:before {
  background-color: #013e02 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #013e02 !important;
  border-color: #013e02 !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #ce0700 !important;
  border-color: #ce0700 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #ce0700 !important;
  border-color: #ce0700 !important;
}
.btn-secondary:before {
  background-color: #820400 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #820400 !important;
  border-color: #820400 !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #000000 !important;
  border-color: #000000 !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-info:before {
  background-color: #000000 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #0158ef !important;
  border-color: #0158ef !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #0158ef !important;
  border-color: #0158ef !important;
}
.btn-success:before {
  background-color: #013ca3 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #013ca3 !important;
  border-color: #013ca3 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
  color: #aaac12 !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #aaac12 !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-warning:before {
  background-color: #f0f27f !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #aaac12 !important;
  background-color: #f0f27f !important;
  border-color: #f0f27f !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #efefef !important;
  border-color: #efefef !important;
  color: #707070 !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #707070 !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-danger:before {
  background-color: #c9c9c9 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #707070 !important;
  background-color: #c9c9c9 !important;
  border-color: #c9c9c9 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-white:before {
  background-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-black:before {
  background-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #012401;
  color: #012401;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  border-color: #028905;
}
.btn-primary-outline:before {
  background-color: #028905;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #028905 !important;
  border-color: #028905 !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #680400;
  color: #680400;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  border-color: #ce0700;
}
.btn-secondary-outline:before {
  background-color: #ce0700;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ce0700 !important;
  border-color: #ce0700 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  border-color: #000000;
}
.btn-info-outline:before {
  background-color: #000000;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #013389;
  color: #013389;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  border-color: #0158ef;
}
.btn-success-outline:before {
  background-color: #0158ef;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #0158ef !important;
  border-color: #0158ef !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #edf067;
  color: #edf067;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #aaac12;
  border-color: #f8f9c4;
}
.btn-warning-outline:before {
  background-color: #f8f9c4;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f8f9c4 !important;
  border-color: #f8f9c4 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #bcbcbc;
  color: #bcbcbc;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #707070;
  border-color: #efefef;
}
.btn-danger-outline:before {
  background-color: #efefef;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #efefef !important;
  border-color: #efefef !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  border-color: #333333;
}
.btn-black-outline:before {
  background-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  border-color: #ffffff;
}
.btn-white-outline:before {
  background-color: #ffffff;
}
.btn-bgr {
  position: relative;
  transition: border 0.3s ease-in-out, color 0.5s;
  -webkit-mask-image: -webkit-radial-gradient(circle, white, black);
}
.btn-bgr span {
  position: relative;
  z-index: 12;
}
.btn-bgr:before {
  content: ' ';
  position: absolute;
  top: -2px;
  left: -2px;
  right: 105%;
  bottom: -2px;
  transition: right 0.3s ease-in-out;
  z-index: -1;
}
.btn-bgr:hover:before {
  right: -2px;
}
.btn-underline {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: color 0.2s ease-out;
}
.btn-underline:before {
  content: '';
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #028905;
  -webkit-transition: width 0.2s ease-out;
  -moz-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
}
.btn-underline:hover:before {
  width: 100%;
}
.text-primary {
  color: #028905 !important;
}
.text-secondary {
  color: #ce0700 !important;
}
.text-success {
  color: #0158ef !important;
}
.text-info {
  color: #000000 !important;
}
.text-warning {
  color: #f8f9c4 !important;
}
.text-danger {
  color: #efefef !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #012401 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #680400 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #013389 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #000000 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #edf067 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #bcbcbc !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #000000;
}
.alert-warning {
  background-color: #f8f9c4;
}
.alert-danger {
  background-color: #efefef;
}
.mbr-gallery-filter li.active .btn {
  background-color: #028905;
  border-color: #028905;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
a,
a:hover {
  color: #028905;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #0ffb14;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #bdd5ff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #b3b3b3;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #ffffff;
}
/* Scroll to top button*/
blockquote {
  border-color: #028905;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #028905;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #028905;
}
/*Menu*/
.display-1 > .mbr-iconfont {
  font-size: 4.48rem;
}
.display-2 > .mbr-iconfont {
  font-size: 3.52rem;
}
.display-4 > .mbr-iconfont {
  font-size: 1.28rem;
}
.display-5 > .mbr-iconfont {
  font-size: 2.4rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.6rem;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #028905;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #028905;
  border-bottom-color: #028905;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #028905 !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ce0700 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23028905' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
.cid-sedEpecayq {
  padding-top: 75px;
  padding-bottom: 0px;
  background-image: url("../../../assets/images/background1.jpg");
}
.cid-sedEpecayq .mbr-section-title,
.cid-sedEpecayq .mbr-section-subtitle {
  color: #000000;
}
.cid-sedEpecayq .mbr-section-text {
  color: #232323;
}
.cid-sedEpecayq .mbr-text,
.cid-sedEpecayq .typed-text,
.cid-sedEpecayq .mbr-section-text {
  letter-spacing: 0.03rem;
}
.cid-sedEpecayq .btn {
  margin-left: 4px !important;
}
.cid-sedEpecayq .animated-element {
  color: #ff3366;
}
.cid-sedEpecayq .typed-cursor {
  opacity: 1;
  -webkit-animation: blink 0.7s infinite;
  -moz-animation: blink 0.7s infinite;
  animation: blink 0.7s infinite;
  color: #ff3366;
}
.cid-sedEpecayq .mbr-figure {
  border-radius: .25rem;
  overflow: hidden;
}
@media (max-width: 767px) {
  .cid-sedEpecayq .typed-text,
  .cid-sedEpecayq .mbr-section-subtitle,
  .cid-sedEpecayq .mbr-section-text,
  .cid-sedEpecayq .mbr-section-btn {
    text-align: center !important;
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.cid-sfie7fy6iZ {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #fafafa;
}
.cid-sfie7fy6iZ .progress {
  width: 100%;
}
.cid-sfie7fy6iZ .title-wrap {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}
.cid-sfie7fy6iZ progress {
  height: inherit;
}
.cid-sfie7fy6iZ .progressbar-number {
  display: inline-block;
}
.cid-sfie7fy6iZ .progress-primary {
  background: rgba(206, 206, 206, 0.4);
  border: none;
  outline: none;
}
.cid-sfie7fy6iZ .progress-primary::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-sfie7fy6iZ .section-content-title {
  font-weight: 500;
}
.cid-sfie7fy6iZ .progress_value {
  position: relative;
}
.cid-sfie7fy6iZ .progress1 .progressbar-number:before,
.cid-sfie7fy6iZ .progress2 .progressbar-number:before,
.cid-sfie7fy6iZ .progress3 .progressbar-number:before,
.cid-sfie7fy6iZ .progress4 .progressbar-number:before,
.cid-sfie7fy6iZ .progress5 .progressbar-number:before {
  position: absolute;
  right: 15px;
  top: 0;
}
.cid-sfie7fy6iZ progress[value]::-webkit-progress-bar {
  background: rgba(206, 206, 206, 0.4);
}
.cid-sfie7fy6iZ progress::-webkit-progress-value {
  background: #0c57bf;
  background: linear-gradient(90deg, #0c57bf, #52e2dd);
}
.cid-sfie7fy6iZ progress[value]::-moz-progress-bar {
  background: #0c57bf;
  background: linear-gradient(90deg, #0c57bf, #52e2dd);
}
.cid-sfie7fy6iZ progress::-ms-fill {
  background: #0c57bf;
  background: linear-gradient(90deg, #0c57bf, #52e2dd);
}
.cid-sfie7fy6iZ .progress1 .progressbar-number:before {
  content: '100';
}
.cid-sfie7fy6iZ .progress2 .progressbar-number:before {
  content: '100';
}
.cid-sfie7fy6iZ .progress3 .progressbar-number:before {
  content: '100';
}
.cid-sfie7fy6iZ .progress4 .progressbar-number:before {
  content: '100';
}
.cid-sfie7fy6iZ .progress5 .progressbar-number:before {
  content: '100';
}
.cid-sfie7fy6iZ .progress-container {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
  height: 0.5rem;
  width: 100%;
}
.cid-sfie7fy6iZ .progress-container span.progress-title {
  position: absolute;
  top: -2rem;
  font-size: 1rem !important;
  height: 24px;
  overflow: hidden;
  max-width: 85%;
}
.cid-sfie7fy6iZ .progress-container .progress_value {
  position: absolute;
  top: -2rem;
  right: 0;
  font-size: 1rem !important;
}
@media (min-width: 768px) {
  .cid-sfie7fy6iZ .text-elements {
    padding-right: 3rem;
  }
  .cid-sfie7fy6iZ .progress_elements {
    padding-left: 3rem;
  }
}
.cid-rWSWT8Bh3y .navbar {
  padding: .5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 77px;
}
@media (min-width: 992px) {
  .cid-rWSWT8Bh3y .navbar .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 2.5385em 0.235em 3.5385em !important;
    margin: 0 !important;
  }
}
.cid-rWSWT8Bh3y .menu-logo {
  display: flex;
  position: relative;
  -webkit-align-items: center;
  align-items: center;
  margin-right: auto;
}
.cid-rWSWT8Bh3y .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0.5rem 0;
  transition: padding .2s;
  min-height: 3.8rem;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rWSWT8Bh3y .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 0rem;
  margin: .3rem 0;
}
.cid-rWSWT8Bh3y .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-rWSWT8Bh3y .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-rWSWT8Bh3y .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
  width: 221px !important;
}
.cid-rWSWT8Bh3y .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-rWSWT8Bh3y .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-rWSWT8Bh3y a {
  font-style: normal;
}
.cid-rWSWT8Bh3y .nav-item span {
  padding-right: 0.4em;
  line-height: 0.5em;
  vertical-align: middle;
  position: relative;
  text-decoration: none;
}
.cid-rWSWT8Bh3y .nav-item a {
  padding: 0.4rem 0 !important;
}
.cid-rWSWT8Bh3y .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rWSWT8Bh3y .dropdown-item:hover:before {
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  width: 16px;
}
.cid-rWSWT8Bh3y .content-text {
  margin-bottom: 0;
}
.cid-rWSWT8Bh3y .navbar-nav {
  position: relative;
  min-height: 60px;
  -ms-flex-direction: row;
  -webkit-flex-direction: row;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-rWSWT8Bh3y .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #028905;
    -webkit-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    -moz-transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-rWSWT8Bh3y .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
  .cid-rWSWT8Bh3y .navbar-nav .nav-item a {
    margin: 0 1.3rem !important;
  }
}
@media (max-width: 991px) {
  .cid-rWSWT8Bh3y .navbar-nav .nav-item a {
    margin: 0 !important;
  }
}
.cid-rWSWT8Bh3y .navbar-nav .nav-item span {
  padding-right: 0.1rem;
}
.cid-rWSWT8Bh3y .display-4 > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rWSWT8Bh3y .display-4 > .btn > .mbr-iconfont {
  font-size: 1.43em;
}
.cid-rWSWT8Bh3y .nav-dropdown .dropdown-item {
  font-weight: 400;
}
.cid-rWSWT8Bh3y .navbar-buttons.mbr-section-btn {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rWSWT8Bh3y .nav-dropdown .link {
  font-weight: 400;
}
.cid-rWSWT8Bh3y .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-rWSWT8Bh3y .content-right-side {
  text-align: center;
}
@media (max-width: 575px) {
  .cid-rWSWT8Bh3y .content-right-side {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 0;
  }
  .cid-rWSWT8Bh3y .content-right-side .content-link {
    font-size: 0.8rem;
    margin: 0;
    padding-bottom: 1rem;
    display: flex;
    justify-content: space-between;
  }
}
.cid-rWSWT8Bh3y .menu-content-top {
  display: none;
  padding: 1rem 0;
  transition: height 0.3s ease-in-out;
}
.cid-rWSWT8Bh3y .menu-content-top.show {
  display: block;
}
.cid-rWSWT8Bh3y .content-right-side .content-link {
  margin-left: 1rem;
}
.cid-rWSWT8Bh3y .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
@media (max-width: 991px) {
  .cid-rWSWT8Bh3y .content-left-side {
    text-align: center;
    padding-bottom: 1rem;
  }
  .cid-rWSWT8Bh3y .dropdown-item {
    padding: 0.235em 0 !important;
    margin: 0 !important;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
  }
  .cid-rWSWT8Bh3y .dropdown-item:before {
    display: none;
  }
  .cid-rWSWT8Bh3y .menu-logo {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .cid-rWSWT8Bh3y .menu-bottom {
    width: 100%;
    padding: 0 1rem;
    display: block;
  }
  .cid-rWSWT8Bh3y img {
    height: 3.8rem !important;
  }
  .cid-rWSWT8Bh3y .btn {
    display: flex;
  }
  .cid-rWSWT8Bh3y button.navbar-toggler {
    display: block;
  }
  .cid-rWSWT8Bh3y .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-rWSWT8Bh3y .navbar-toggleable-sm {
    -webkit-flex-direction: column;
    flex-direction: column;
  }
  .cid-rWSWT8Bh3y .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-rWSWT8Bh3y .navbar-collapse.collapsing,
  .cid-rWSWT8Bh3y .navbar-collapse.show {
    display: block !important;
  }
  .cid-rWSWT8Bh3y .navbar-collapse.collapsing .navbar-nav,
  .cid-rWSWT8Bh3y .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-rWSWT8Bh3y .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-rWSWT8Bh3y .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
    padding: 0.5rem 0;
  }
  .cid-rWSWT8Bh3y .navbar-collapse.collapsing .navbar-buttons,
  .cid-rWSWT8Bh3y .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-rWSWT8Bh3y .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-rWSWT8Bh3y .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-rWSWT8Bh3y .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity, padding, height;
  }
  .cid-rWSWT8Bh3y .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-rWSWT8Bh3y .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-rWSWT8Bh3y .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
@media (min-width: 992px) {
  .cid-rWSWT8Bh3y .navbar .menu-content-top {
    display: block;
  }
  .cid-rWSWT8Bh3y .menu-content-top .row {
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
  .cid-rWSWT8Bh3y .content-right-side {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-flex-basis: 70%;
    flex-basis: 70%;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: right;
  }
  .cid-rWSWT8Bh3y .menu-content-top {
    border-bottom: 1px solid #e0e0e0;
  }
  .cid-rWSWT8Bh3y .menu-bottom {
    display: flex;
  }
  .cid-rWSWT8Bh3y .navbar {
    display: block;
    padding: 0;
  }
  .cid-rWSWT8Bh3y .navbar .menu-logo {
    margin-right: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
  }
  .cid-rWSWT8Bh3y .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    -webkit-align-self: initial;
    align-self: auto;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    z-index: 101;
    min-height: 76px;
  }
  .cid-rWSWT8Bh3y .navbar-toggler {
    display: none;
  }
}
.cid-rWSWT8Bh3y .navbar-short .menu-content-top {
  border: none;
}
.cid-rWSWT8Bh3y .btn {
  padding: 0.7rem 1.5rem;
  display: inline-flex;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rWSWT8Bh3y .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-rWSWT8Bh3y .navbar-toggleable-sm .navbar-collapse {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  padding-right: 5rem;
  width: 100%;
}
.cid-rWSWT8Bh3y .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-rWSWT8Bh3y .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-rWSWT8Bh3y .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-rWSWT8Bh3y .dropdown .dropdown-menu {
  background: #ffffff;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-rWSWT8Bh3y .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rWSWT8Bh3y .dropdown .dropdown-menu .dropdown-item {
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rWSWT8Bh3y .dropdown .dropdown-menu .dropdown-item::after {
  right: 1rem;
}
.cid-rWSWT8Bh3y .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}
.cid-rWSWT8Bh3y .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rWSWT8Bh3y .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rWSWT8Bh3y .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-rWSWT8Bh3y .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rWSWT8Bh3y .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  -webkit-transform: translateY(100%);
  transform: translateY(100%);
  z-index: 1000;
}
.cid-rWSWT8Bh3y .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-rWSWT8Bh3y .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-rWSWT8Bh3y .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-rWSWT8Bh3y .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-rWSWT8Bh3y .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-rWSWT8Bh3y button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
}
.cid-rWSWT8Bh3y button.navbar-toggler:focus {
  outline: none;
}
.cid-rWSWT8Bh3y button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #000000;
}
.cid-rWSWT8Bh3y button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rWSWT8Bh3y button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rWSWT8Bh3y button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rWSWT8Bh3y button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rWSWT8Bh3y nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rWSWT8Bh3y nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rWSWT8Bh3y nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rWSWT8Bh3y nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rWSWT8Bh3y .collapsed.navbar {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rWSWT8Bh3y .collapsed .menu-bottom {
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  align-items: center;
}
.cid-rWSWT8Bh3y .collapsed .menu-logo {
  margin-right: 0;
}
.cid-rWSWT8Bh3y .collapsed .btn {
  display: flex;
}
.cid-rWSWT8Bh3y .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.collapsing,
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-rWSWT8Bh3y .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-rWSWT8Bh3y .collapsed:not(.navbar-short) .navbar-collapse {
    max-height: calc(100vh - 3.8rem  - 3.5rem);
  }
  .cid-rWSWT8Bh3y .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-rWSWT8Bh3y .collapsed button.navbar-toggler {
  display: block;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rWSWT8Bh3y .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-rWSWT8Bh3y .collapsed .navbar-toggleable-sm {
  -webkit-flex-direction: column;
  flex-direction: column;
}
.cid-rWSWT8Bh3y .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .25s;
  transition-property: opacity, padding, height;
}
.cid-rWSWT8Bh3y .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-rWSWT8Bh3y .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-rWSWT8Bh3y .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
.cid-rWSWT8Bh3y .collapsed .dropdown-item:before {
  display: none;
}
.cid-rWSWT8Bh3y .navbar-dropdown {
  -webkit-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
.cid-rWSWT8Bh3y .navbar-collapse {
  -ms-flex-preferred-size: auto;
  -webkit-flex-basis: auto;
  flex-basis: auto;
}
.cid-rWSWT8Bh3y .nav-link:focus {
  outline: none;
}
.cid-rWSWT8Bh3y .navbar-toggler {
  position: relative;
}
.cid-rWSWT8Bh3y .dropdown-item.active,
.cid-rWSWT8Bh3y .dropdown-item:active {
  background-color: #ffffff;
  color: auto;
}
.cid-rWSWT8Bh3y .nav-link:hover,
.cid-rWSWT8Bh3y .dropdown-item:hover {
  color: #4284df;
}
.cid-rWT2C7KjnH {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-rWT2C7KjnH .mbr-section-subtitle {
  color: #005102;
  font-weight: 600;
  margin-bottom: 21px;
}
.cid-rWT2C7KjnH .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #028905;
  background-color: rgba(132, 138, 189, 0.15);
  margin-bottom: 26px;
}
.cid-rWT2C7KjnH .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-rWT2C7KjnH .mbr-section-title {
  margin: 0;
  font-weight: 500;
  margin-bottom: 46px;
  color: #404040;
}
.cid-rWT2C7KjnH .mbr-section-title.display-2 {
  line-height: 1.375;
}
.cid-rWT2C7KjnH .icon-main {
  margin: 1rem 0;
  display: flex;
  -webkit-box-align: left;
  align-items: left;
  text-align: left;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.cid-rWT2C7KjnH .icon-main .process-icon {
  width: 100%;
  padding-bottom: 2rem;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper {
  position: relative;
  margin-bottom: 20px;
  margin-right: 9px;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container {
  display: inline-flex;
  position: relative;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container a {
  display: inherit;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container a .icon-wrapper {
  position: relative;
  z-index: 1;
  padding: 24px;
  height: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 50%;
  font-size: 32px;
  line-height: 1;
  color: #ffffff;
  font-weight: normal;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon1 {
  background-color: rgba(209, 107, 134, 0.3);
  color: #d16b86;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon2 {
  background-color: rgba(92, 167, 219, 0.3);
  color: #5ca7db;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon3 {
  background-color: rgba(156, 205, 126, 0.3);
  color: #9ccd7e;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon4 {
  background-color: rgba(132, 138, 189, 0.3);
  color: #848abd;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon5 {
  background-color: rgba(251, 157, 126, 0.3);
  color: #fb9d7e;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon6 {
  background-color: rgba(185, 126, 205, 0.3);
  color: #b97ecd;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container .step {
  margin: 0;
  position: absolute;
  bottom: -3px;
  left: 11px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 11px;
  line-height: normal;
  font-weight: 500;
  z-index: 2;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container .step_1 {
  background: #d16b86;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container .step_2 {
  background: #5ca7db;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container .step_3 {
  background: #9ccd7e;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container .step_4 {
  background: #848abd;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container .step_5 {
  background: #fb9d7e;
}
.cid-rWT2C7KjnH .icon-main .process-icon .wrapper .icon-container .step_6 {
  background: #b97ecd;
}
.cid-rWT2C7KjnH .icon-main .process-icon .text-wrap .subicon-title {
  color: #404040;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  margin-bottom: 12px;
}
.cid-rWT2C7KjnH .icon-main .process-icon .text-wrap .subicon-text {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #606060;
  font-weight: 500;
}
@media (max-width: 767px) {
  .cid-rWT2C7KjnH .wrapper::before {
    display: none;
  }
}
.cid-rWT2C7KjnH .badge,
.cid-rWT2C7KjnH .badge_wrap {
  color: #ce0700;
}
.cid-sfi7KvEiK3 {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-sfi7KvEiK3 .mbr-section-subtitle {
  color: #999999;
  font-weight: 600;
  margin-bottom: 21px;
}
.cid-sfi7KvEiK3 .badge {
  display: inline-block;
  border-radius: 10rem;
  padding: 8px 14px 6px 14px;
  color: #028905;
  background-color: rgba(132, 138, 189, 0.15);
  margin-bottom: 26px;
}
.cid-sfi7KvEiK3 .badge.display-4 {
  font-size: 11px;
  line-height: 1.81;
  letter-spacing: 0.5px;
}
.cid-sfi7KvEiK3 .mbr-section-title {
  margin: 0;
  font-weight: 500;
  margin-bottom: 46px;
  color: #404040;
}
.cid-sfi7KvEiK3 .mbr-section-title.display-2 {
  line-height: 1.375;
}
.cid-sfi7KvEiK3 .icon-main {
  margin: 1rem 0;
  display: flex;
  -webkit-box-align: left;
  align-items: left;
  text-align: left;
  padding: 0;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.cid-sfi7KvEiK3 .icon-main .process-icon {
  width: 100%;
  padding-bottom: 2rem;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper {
  position: relative;
  margin-bottom: 20px;
  margin-right: 9px;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container {
  display: inline-flex;
  position: relative;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container a {
  display: inherit;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container a .icon-wrapper {
  position: relative;
  z-index: 1;
  padding: 24px;
  height: 100%;
  margin: 0 auto;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  border-radius: 50%;
  font-size: 32px;
  line-height: 1;
  color: #ffffff;
  font-weight: normal;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon1 {
  background-color: rgba(209, 107, 134, 0.3);
  color: #d16b86;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon2 {
  background-color: rgba(92, 167, 219, 0.3);
  color: #5ca7db;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon3 {
  background-color: rgba(156, 205, 126, 0.3);
  color: #9ccd7e;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon4 {
  background-color: rgba(132, 138, 189, 0.3);
  color: #848abd;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon5 {
  background-color: rgba(251, 157, 126, 0.3);
  color: #fb9d7e;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container a .icon-wrapper.icon6 {
  background-color: rgba(185, 126, 205, 0.3);
  color: #b97ecd;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container .step {
  margin: 0;
  position: absolute;
  bottom: -3px;
  left: 11px;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  font-size: 11px;
  line-height: normal;
  font-weight: 500;
  z-index: 2;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  text-align: center;
  color: #ffffff;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container .step_1 {
  background: #d16b86;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container .step_2 {
  background: #5ca7db;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container .step_3 {
  background: #9ccd7e;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container .step_4 {
  background: #848abd;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container .step_5 {
  background: #fb9d7e;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .wrapper .icon-container .step_6 {
  background: #b97ecd;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .text-wrap .subicon-title {
  color: #404040;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 600;
  margin-bottom: 12px;
}
.cid-sfi7KvEiK3 .icon-main .process-icon .text-wrap .subicon-text {
  padding-left: 1rem;
  padding-right: 1rem;
  color: #606060;
  font-weight: 500;
}
@media (max-width: 767px) {
  .cid-sfi7KvEiK3 .wrapper::before {
    display: none;
  }
}
.cid-sfi7FiymGd {
  padding-top: 90px;
  padding-bottom: 90px;
  background: linear-gradient(45deg, #d04317, #55aceacc);
}
.cid-sfi7FiymGd .plan-body .btn-bgr {
  z-index: 0;
}
.cid-sfi7FiymGd .list-group-item {
  padding: .5rem 3.25rem;
}
.cid-sfi7FiymGd .price-term {
  display: block;
  line-height: 1;
  margin-top: 0.45rem;
}
.cid-sfi7FiymGd .plan-title {
  background-color: #4284df;
}
.cid-sfi7FiymGd .plan-header {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.cid-sfi7FiymGd .plan-body {
  border-radius: 0 0 8px 8px;
}
.cid-sfi7FiymGd .mbr-section-btn {
  padding: 0 2.45rem;
}
.cid-sfi7FiymGd .plan {
  position: relative;
  max-width: 330px;
  padding-right: 0;
  padding-left: 0;
  color: #767676;
}
.cid-sfi7FiymGd .plan .list-group-item {
  position: relative;
  -webkit-justify-content: center;
  justify-content: center;
  border: 0;
  background: transparent;
}
.cid-sfi7FiymGd .plan .list-group-item:last-child {
  border-radius: 8px;
}
.cid-sfi7FiymGd .plan:nth-child(2) .plan-title {
  background-color: #eb4e6f;
}
.cid-sfi7FiymGd .plan-header,
.cid-sfi7FiymGd .plan-body {
  background-color: #ffffff;
  border-bottom: solid 2px rgba(0, 0, 0, 0.07);
}
.cid-sfi7FiymGd .price-figure {
  font-weight: 600;
  color: #232323;
}
.cid-sfi7FiymGd .price-value {
  font-weight: 700;
  vertical-align: top;
  line-height: 1;
  margin-right: 0.25rem;
}
@media (max-width: 550px) {
  .cid-sfi7FiymGd .price-figure {
    font-size: 4.25rem;
  }
}
.cid-sfi7FiymGd .plan-price {
  color: #000000;
}
.cid-sfi7FiymGd .list-group,
.cid-sfi7FiymGd .mbr-section-btn {
  color: #000000;
}
.cid-sfi8FbLPNz {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-sfi8FbLPNz *:focus {
  outline: none;
}
.cid-sfi8FbLPNz .form-control {
  width: 100%;
  min-height: auto;
  color: #232323 !important;
  border: none;
  border-radius: 0 !important;
  background-color: transparent;
  padding: 0.5rem 0rem;
  border-bottom: 1px solid #232323;
  box-shadow: none;
}
.cid-sfi8FbLPNz .form-control:focus {
  outline: none;
  box-shadow: none;
}
.cid-sfi8FbLPNz input::-webkit-input-placeholder {
  color: #232323;
}
.cid-sfi8FbLPNz input::-moz-placeholder {
  color: #232323;
}
.cid-sfi8FbLPNz textarea::-webkit-input-placeholder {
  color: #232323;
}
.cid-sfi8FbLPNz textarea::-moz-placeholder {
  color: #232323;
}
.cid-sfi8FbLPNz .soc-item {
  margin: 0 0.1rem 0.2rem 0.1rem;
  display: inline-flex;
  width: 46px;
  height: 46px;
  justify-content: center;
  align-items: center;
  border: 1px solid #66458e;
  border-radius: 50%;
}
.cid-sfi8FbLPNz .soc-item:hover {
  opacity: 0.5;
}
.cid-sfi8FbLPNz .soc-item .socicon {
  font-size: 1.5rem;
  color: #66458e;
}
.cid-sfi8FbLPNz .days-column,
.cid-sfi8FbLPNz .hours-column {
  display: inline-block;
}
.cid-sfi8FbLPNz .days-column span,
.cid-sfi8FbLPNz .hours-column span {
  display: block;
}
.cid-sfi8FbLPNz .input-group-btn {
  display: block;
}
@media (max-width: 767px) {
  .cid-sfi8FbLPNz .days-column {
    padding-right: 0 !important;
  }
  .cid-sfi8FbLPNz .hours-column {
    max-width: 50% !important;
  }
  .cid-sfi8FbLPNz .opening-hours {
    padding-bottom: 48px !important;
  }
}
.cid-sfi8FbLPNz .follow-title,
.cid-sfi8FbLPNz .social-list {
  text-align: center;
}
.cid-sfi8FbLPNz .logo img {
  display: inherit;
  width: auto;
}
.cid-sfmdb8ZjsY {
  background: #ffffff;
}
.cid-sfmdb8ZjsY .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-sfmdb8ZjsY .video-block {
    width: 100% !important;
  }
}
